<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
    <title>Play! - Litmus Test Runner</title>

    <link href="@{'/public/litmus/bootstrap/css/bootstrap.css'}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }
    </style>
    <link href="@{'/public/litmus/bootstrap/css/bootstrap-responsive.css'}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/public/images/favicon.png">
    <script src="@{'/public/litmus/javascripts/jquery-1.7.2.min.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-transition.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-alert.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-modal.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-dropdown.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-scrollspy.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-tab.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-tooltip.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-popover.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-button.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-collapse.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-carousel.js'}"></script>
    <script src="@{'/public/litmus/bootstrap/js/bootstrap-typeahead.js'}"></script>

    <script type="text/javascript">
        $(function(){

            $('.categoryLink').click(function(){
                $(this).parent().toggleClass('active');
            });

        });
    </script>

</head>
<body>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <h2> Litmus Test Runner </h2>

                <p>Select the tests or categories to run, then click [Start] and pray</p>
            </div>
        </div>
    </div>


    <div class="row-fluid">

    #{if tests}

        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Categories</li>
                    #{list items:tests.getCategories(), as: 'category'}
                        <li class="divider"></li>
                        <li>
                            <a href="#" class="categoryLink">
                                ${category}
                            </a>
                        </li>
                    #{/list}
                    <li class="divider"></li>
                </ul>
            </div>
        </div>


        <div class="span9">
            <div class="row-fluid">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Test</th>
                        <th>Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Test 1</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Test 1</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Test 1</td>
                        <td>OK</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    #{/if}
    #{else }
        <div class="span12">
            There are no tests to run..
        </div>
    #{/else}
    </div>


</div>

</body>
</html>