<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Play! - Litmus Test Runner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
    <script src="@{'/public/litmus/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/litmus/jquery.scrollTo-min.js'}" type="text/javascript" charset="${_response_encoding}"></script>


    <link rel="stylesheet" href="@{'/public/litmus/style.css'}" type="text/css"/>

    <script type="text/javascript">
        var initTestRunnerLink = '@{LitmusTestRunner.init()}';
        var endTestRunnerLink = '@{LitmusTestRunner.end()}';
        var runTestUrl = function(testClassName){
            return '@{LitmusTestRunner.run("XXX")}'.replace('XXX', testClassName);
        };
    </script>
    <script src="@{'/public/litmus/testrunner.js'}" type="text/javascript" charset="${_response_encoding}"></script>

</head>
<body>

<div id="header" class="block">
    <h1>Litmus Test Runner <span id="failedMessage"></span>
    </h1>
    <p> Select the tests or categories to run, then click [Start] and pray </p>
    <div id="loading">working ...</div>
</div>

<div id="results" class="block">
    <div id="stopped">
        <span id="start">Start !</span>
        &nbsp;
        <span class="nbToRun">no</span> test class<span class="nbToRunPluralize"></span> to run.

        <span id="quickLinks">
            &nbsp;
            <span>Select:
                <span id="selectAllLink"><a href="#">all</a></span> -
                <span id="selectSlowTestsLink"><a href="#">slow</a></span> -
                <span id="selectFastTestsLink"><a href="#">fast</a></span>
            </span>
                  &nbsp;
            <span>Run:
                <span id="runAllLink"><a href="#">all</a></span> -
                <span id="runSlowTestsLink"><a href="#">slow</a></span> -
                <span id="runFastTestsLink"><a href="#">fast</a></span>
            </span>
        </span>


        <span id="bookmarkSave">
            <a href="#">Bookmark this link to save this configuration</a> -
            <span id="unselectAll"><a href="#">Unselect all</a></span>
        </span>


    </div>

    <div id="started">
        <span id="stop">Stop ...</span>
        &nbsp;(running <span class="nbToRun">no</span> test<span class="nbToRunPluralize"></span>)
    </div>

    <div id="finished">

    </div>

</div>

<div id="tests" class="block">

#{if tests}
    #{list items:tests.getCategories(), as: 'category'}
        <div>
            <h2>
                <a class="categoryLink">${category}</a>
                <input type="button" class="runSingleCategory runButton" title ${category}="run" value="run">
            </h2>
            <ul>
                #{list items:tests.get(category), as:'testClass'}
                    <li>
                        <div class="test ${category.slow ? 'slow' : 'fast'}" id="${testClass.name}.class">
                            <span class="touch">+</span>
                            <input type="button" class="runSingleTestClass runButton" title="run ${testClass.name}" value="run">&nbsp;</a>
                            <a class="testLink">${testClass.name}</a>
                            <div class="testResult"></div>
                        </div>
                    </li>
                #{/list}
            </ul>
        </div>
    #{/list}
#{/if}

#{if !tests}
    <h2><span>There are no test to run</span></h2>
#{/if}

</div>
</body>
</html>




