#{extends 'main.html' /}
#{set title:'Home' /}

<a id="openContactForm" href="/some/path">open contact form</a>


<div id="myDiv" class="class1 class2" title="myDiv title">
	This is myDiv
</div>

<div id="divWithMessage">
&{'this.is.a.message.key'}
</div>

<div id="divWithMessageWithArgs">
&{'this.is.a.message.key.with.args', 'argValue1', 'argValue2'}
</div>

<ul id="ulExample">
	<li id="ulItem1">item1</li>
	<li>item2</li>
	<li>item3</li>
</ul>


<ol id="olExample">
	<li id="olItem1">item1</li>
	<li>item2</li>
	<li>item3</li>
</ol>


